div{
    div{
        .styleButton{
            padding: 15px 25px;
            margin-top: 30px;
    
            border: none;
            border-radius: 5px;
    
            background-color: rgb(41, 41, 43);
            color: rgb(255, 255, 255);
    
            transition: 0.1s linear;
    
            &:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(41, 41, 43);

                cursor: pointer;
            }
        }
    }

    .blockTimeCount{
        display: flex;
        justify-content: center;

        margin-top: 20vh;
        
        div{
            display:flex;

            width: 700px;
            height: 100px;

            align-items: center;
            justify-content: center;
        
            background-color: #616161;
            border-radius: 10px;
        
            h1{
                color: white;
                border-bottom: 2px dashed black;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .buttonClick{
        margin: 0 auto;
        display: block;

        margin-top:20px;

        background-color: rgb(255, 255, 255);
        padding: 90px 300px;

        border: none;
        border-radius: 5px;

        transition: 0.1s;

        &:hover{
            background-color: rgb(245, 245, 245);

            cursor: pointer;
        }
        &:active{
            background-color: #2f2f2f;
            transform: scale(1.2);
        }

    }
}