.app-block-calculator{
 padding: 100px;   


    .calculator-block{
        text-align: center;

        input{
            color: black;
        }
        select{
            padding: 5px 10px;

            color: black;

            margin-left: 10px;
            margin-right: 10px;

            option{
                color: black;
            }
        }
        button{
            color: black;
        }
    
        .result{
    
            margin-top: 50px;
    
            p{
                display:inline-flex;
                font-size: 100px;
            }
        }
    }
}
