.MyButton{
    padding: 15px 25px;

    border: none;
    border-radius: 3px;

    background-color: rgb(252, 231, 191);

    color: rgb(47, 47, 47);

    transition: 0.1s;

    &:hover{
        background-color: rgb(59, 58, 58);
        color: azure;

        cursor: pointer;
    }
    &:active{
        background-color: rgb(104, 249, 249);
    }
}