.todo-content{
    width: 100vw;
    height: 100vh;
    
    .todoButtonModalBack{
        text-align: start;
    }

    .todoButtonModalAssing{
        text-align: end;

        position: relative;
        bottom: 50%;
    }

    .todo-block{
        width: 94%;
        margin: 20px;

        position: relative;
        top: 20vh;

        margin-top: 60px;
        padding: 20px;

        border: 5px solid rgb(84, 84, 217);
        border-radius: 10px;
        
        .todo-button{
            text-align:end;
            padding: 10px;

            button{
                color: black;
    
                padding: 5px 15px;
                margin-left: 10px;
    
            }
        }

        p{
            color: white;
        }

        strong{
            color: white;
        }

        .name-block{
            p{
                color: white;

                transition: 0.3s;

                margin-bottom: 10px;

                display: inline;
                padding: 2px;

                margin-left: 10px;

                &:hover{
                    color: rgb(66, 255, 255);
    
                    border-bottom: 1px dashed rgb(26, 25, 25);
                }
            }
        }

        p{
            margin-top: 15px;
        }
    }
}

.control-block{
    display: flex;

    position: relative;
    top: 7vw;
    padding: 20px;

    justify-content: space-between;

    .todo-input{
        .todo-col{
            input{
                width: 250px;
                height: 25px;
                
                border-radius: 5px;
            }
            p{
                color: white;
            }
        }

        .todo-button{
            padding: 10px;
            border: none;

            margin-top: 10px;

            background: -webkit-linear-gradient(45deg, rgb(156, 124, 223), rgb(57, 41, 152) 48%, rgb(19, 91, 208));
            background: -moz-linear-gradient(45deg, rgb(156, 124, 223), rgb(57, 41, 152) 48%, rgb(19, 91, 208));
            background: linear-gradient(45deg, rgb(156, 124, 223), rgb(57, 41, 152) 48%, rgb(19, 91, 208));

            &:hover{
                border: 2px white dashed;
            }
        }
    }

        .search-block{
            align-self: end;
            position: relative;
            right: 2vw;

            input{
                padding: 10px 30px;
                transition: all 0.3s;

                &:focus{
                    box-shadow: 5px 5px 5px 5px rgb(25, 25, 25);
                }
            }
        }
    }

    .task-list{
        position: relative;
        top:10vw;

    h1{
        text-align: center;
        color: rgb(255, 255, 255);
    }
}


.todo-full{
    padding: 20px;

    position: relative;
    top: 15vh;
    
    color: white;

    .todo-blockFull{
        margin-top: 30px;
    
        padding: 30px;
    
        border: 5px solid rgb(84, 84, 217);
        border-radius: 10px;
        
        button{
            position: relative;
            left: 90%;
    
            padding: 10px 20px;
    
        }
    
        .name-block{
            p{
                transition: 0.3s;
    
                margin-bottom: 10px;
    
                display: inline;
                padding: 2px;
    
                margin-left: 10px;
    
                &:hover{
                    color: rgb(66, 255, 255);
    
                    border-bottom: 1px dashed rgb(26, 25, 25);
                }
            }
        }
    
        p{
            margin-top: 15px;
        }
    }
}

