.point{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid rgb(30, 0, 255);
    background-color: rgb(21, 5, 255);
    position: absolute;
}

.graph_content{
    .window{ 
        position: fixed;
        top: 100px;
        right: 0;
    
        width: 20vw;
        height: 100vh;
        padding: 10px;
    
        background-color: rgb(61, 61, 61);
    }
    
    .background{
        position: fixed;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    }

    .control_block{
        .input{
            border: 1px solid rgb(147, 147, 147);
            border-radius: 5px;

            display: flex;

            div{
                width: 30px;
                background-color: black;

                border-radius: 5px;
            }

            input{
                background-color: rgba(0, 0, 0, 0);
                border: none;

                width:80%;
                height: 30px;

                margin-left: 10px;
                font-size: 15px;

                color: rgb(255, 255, 255);
            }
        }

        .button-graph{
            margin-top: 15px;
            padding: 10px;
        }
    }

    .area{
        height: 88.9vh;
        width: 78.69%;
        border: 1px solid rgb(235, 235, 235);
        display: grid;
        grid-template-columns: 1fr 1fr;

        overflow: auto;
    
        .section{
            // width: 1000px;
            padding: 1000px;
            border: 1px solid rgb(192, 179, 156);
            position: relative;
        }
    }


}
