.convert_content{
    .converter_block{
        width: 1300px;
        height: 500px;

        display: flex;
        justify-content: space-evenly;

        margin: 0 auto;

        position: relative;
        top: 150px;

        .convert_area{
            width: 470px;
            height: 200px;
        }

        div{
            margin: 0 auto;

            .button__converter{
                width: 100%;
                height: 40px;

                border: none;
                border-radius: 5px;

                padding: 10px;

                background-color: rgba(69, 69, 69, 0);
                color: rgb(107, 107, 107);

                font-size: 20px;

                transition: 0.1s;
                &:hover{
                    background-color: rgb(131, 131, 131);
                    color: black;
                }
                &:active{
                    background-color: rgb(103, 103, 103);;
                }
            }
        }

        div{
            #blue_copy{
                width: 50px;
                height: 50px;

                transition: 0.1s;

                border-radius: 12px;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(233, 233, 233);
                }
                &:active{
                    background-color: rgb(210, 210, 210);
                }
            }
        }

        .inputSide{
            border: 1px solid rgb(193, 193, 193);
            border-radius: 2px;
            padding: 15px;

            position: relative;
            top: 20px;
        }
        .currency_list{
            display: flex;
            border: 1px solid rgb(193, 193, 193);
            border-radius: 2px;

            .carrency{
                text-align: center;
                vertical-align: bottom;
                height: 40px;
                width: 80px;
    
                border-right: 1px solid rgb(193, 193, 193);

                transition: 0.1s;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(145, 145, 145);
                }
                &:active{
                    background-color: rgba(0, 0, 0, 0.137); 
                }
            }
            .active{
                background-color: black;
                color: white;
            }
        }
        input{
            background-color: rgba(255, 255, 255, 0);
            color: rgb(107, 107, 107);
            height: 50px;
            width: 100%;

            border: none;
            font-size: 30px;
        }
        p{
            margin-top: 25px;
        }
    }
}